@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  @apply antialiased text-gray-100 bg-gray-900;
}